{% assign author = site.author %}
<div class="contact-container container-block">
  <div class="author__avatar">
    <img src="{{ author.avatar | relative_url }}" alt="{{ author.name }}" itemprop="image" class="u-photo">
  </div>
  <div class="links">
  {% if author.name %}
    <h1>{{ author.name }}</h1>
  {% endif %}
  <ul class="list-unstyled contact-list">
    {% if author.location %}
    <li><i class="fas fa-fw fa-map-marker-alt"></i>
      <span>{{ author.location }}</span>
    </li>
    {% endif %}

    {% if author.links %}
        {% for link in author.links %}
          {% if link.label and link.url %}
            {% case link.label %}
            {% when 'Email' %}
            <li><a href="{{ link.url }}" rel="nofollow noopener noreferrer me"><i class="{{ link.icon | default: 'fas fa-link' }}" aria-hidden="true"></i><span class="label">{{ link.label }} ({{ link.url | remove: "mailto:" }})</span></a></li>
            {% when 'Twitter' %}
            <li class="no_print"><a href="{{ link.url }}" rel="nofollow noopener noreferrer me"><i class="{{ link.icon | default: 'fas fa-link' }}" aria-hidden="true"></i><span class="label">{{ link.label }}</span></a></li>
            {% else %}
            <li><a href="{{ link.url }}" rel="nofollow noopener noreferrer me"><i class="{{ link.icon | default: 'fas fa-link' }}" aria-hidden="true"></i><span class="label">{{ link.label }}</span></a></li>
            {% endcase %}
          {% endif %}
        {% endfor %}
      {% endif %}

  </ul>
</div>
</div><!--//contact-container-->
