{% assign honors = site.data.resume.honors %}
{% if honors %}
<section class="section experiences-section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-medal fa-stack-1x fa-inverse"></i>
    </span>
    Honors/Awards
  </h2>

  {% if page.url == '/resume/' %}
    <ul>
    {% for honor in honors limit: 3 %}
    <li>
    <div class="item">

      <div class="meta">

        <div class="upper-row">
          <h3 class="award-title">{{ honor.award }}</h3>
          <div class="time">{{ honor.time }}</div>
        </div><!--//upper-row-->

      </div><!--//meta-->

      {% if honor.location %}
      <div class="details">
        {{ honor.location | markdownify }}
      </div><!--//details-->
      {% endif %}

    </div><!--//item-->
  </li>
    {% endfor %}
  </ul>
  {% else %}
    <ul>
    {% for honor in honors %}
    <li>
    <div class="item">

      <div class="meta">

        <div class="upper-row">
          <h3 class="award-title">{{ honor.award }}</h3>
          <div class="time">{{ honor.time }}</div>
        </div><!--//upper-row-->

      </div><!--//meta-->

      {% if honor.location %}
      <div class="details">
        {{ honor.location | markdownify }}
      </div><!--//details-->
      {% endif %}

    </div><!--//item-->
  </li>
    {% endfor %}
  </ul>
  {% endif %}

</section><!--//section-->
{% endif %}

