{% assign presentations = site.data.resume.presentations %}
{% if presentations %}
<section class="section education-section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-file-powerpoint fa-stack-1x fa-inverse"></i>
    </span>
    Presentations/Workshops
  </h2>

  {% for presentation in presentations %}
  <div class="item">

    <div class="meta">

      <div class="upper-row">
        <h3 class="job-title">{{ presentation.title }}</h3>
        <div class="time">{{ presentation.time }}</div>
      </div><!--//upper-row-->

    </div><!--//meta-->
    
    <div class="details">
      {{ presentation.type | markdownify }}
    </div><!--//details-->

  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}

