{% assign skills = site.data.resume.skills %}
{% if skills %}
<section class="skills-section section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-wrench fa-stack-1x fa-inverse"></i>
    </span>
    {{ skills.title }}
  </h2>

  <div class="skillset">
    {% if page.url == '/resume/' %}
    {% for skill in skills.toolset limit: 99 %}
    <div class="item">

    <div class="meta">

      <div class="upper-row">
        <h3 class="job-title">{{ skill.name }}</h3>
      </div><!--//upper-row-->

    </div><!--//meta-->

    {% if skill.description %}
    <div class="details">
      {{ skill.description | markdownify }}
    </div><!--//details-->
    {% endif %}

  </div><!--//item-->
    {% endfor %}

    {% else %}
    {% for skill in skills.toolset %}
    <div class="item">

      <div class="meta">

        <div class="upper-row">
          <h3 class="job-title">{{ skill.name }}</h3>
        </div><!--//upper-row-->

      </div><!--//meta-->

      {% if skill.description %}
      <div class="details">
        {{ skill.description | markdownify }}
      </div><!--//details-->
      {% endif %}

    </div><!--//item-->
    {% endfor %}

    {% endif %}

  </div>

</section><!--//skills-section-->
{% endif %}
