{% assign experiences = site.data.resume.work_experiences %}
{% if experiences %}
<section class="section experiences-section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-briefcase fa-stack-1x fa-inverse"></i>
    </span>
    Professional Experiences
  </h2>

  {% if page.url == '/resume/' %}
    <ul>
    {% for experience in experiences limit: 4 %}
    <li>
    <div class="item">

      <div class="meta">

        <div class="upper-row">
          <h3 class="job-title">{{ experience.role }}</h3>
          <div class="time">{{ experience.time }}</div>
        </div><!--//upper-row-->

        <div class="company">{{ experience.company }}</div>

      </div><!--//meta-->

      {% if experience.details %}
      <div class="details">
        {{ experience.details | markdownify }}
      </div><!--//details-->
      {% endif %}

    </div><!--//item-->
  </li>
    {% endfor %}
  </ul>

  {% else %}
  <ul>
  {% for experience in experiences %}
  <li>
    <div class="item">

      <div class="meta">

        <div class="upper-row">
          <h3 class="job-title">{{ experience.role }}</h3>
          <div class="time">{{ experience.time }}</div>
        </div><!--//upper-row-->

        <div class="company">{{ experience.company }}</div>

      </div><!--//meta-->

      {% if experience.details %}
      <div class="details">
        {{ experience.details | markdownify }}
      </div><!--//details-->
      {% endif %}

    </div><!--//item-->
  </li>
    {% endfor %}
  </ul>
  {% endif %}
  </section><!--//section-->
    {% endif %}

