.resume {
  font-size: 15px;

  @include breakpoint($large) {
    float: right;
    width: calc(100% - #{$right-sidebar-width-narrow});
    padding-right: $right-sidebar-width-narrow;
  }

  @include breakpoint($x-large) {
    width: calc(100% - #{$right-sidebar-width});
    padding-right: $right-sidebar-width;
  }

  h1 {
    color:rgb(97, 55, 144);
}
    h2 {
        color:rgb(129,74,190);
    }
    
}

.print_only {
    display: none;
}