.resume {
  font-size: 15px;
  margin-top: 1em;
  margin-bottom: 2em;

  @include breakpoint($large) {
    float: right;
    width: calc(100% - #{$right-sidebar-width-narrow});
    padding-right: $right-sidebar-width-narrow;
  }

  @include breakpoint($x-large) {
    width: calc(100% - #{$right-sidebar-width});
    padding-right: $right-sidebar-width;
  }

  .contact-container{
    display: none;
  }


  .contact-list{
    list-style-type: none;
    padding: 20 px;
    margin: 0;
    overflow: hidden;

    li{
        float:left;
        padding-right: 10px;
        .author_avatar{
            vertical-align: middle !important;
        }
    }
  }
  .section-title {
            text-transform: uppercase;
            font-size: 18px;
            font-weight: 500;
            color: darken($primary-color, 15%);
            position: relative;
            margin-top: 0;
            margin-bottom: 20px;
    }

    .section {
        margin-bottom: 60px;
    }

    .experiences-section, .educations-section {
        .item {
            margin-bottom: 30px;
        }
    }
    .upper-row {
        position: relative;
        overflow: hidden;
        margin-bottom: 2px;
    }

    .award-title {
        color: $text-color;
        font-size: 16px;
        margin-top: 0;
        margin-bottom: 0;
        font-weight: 500;
        overflow-wrap: break-word;
    }

    .job-title, .degree {
        color: $text-color;
        font-size: 16px;
        margin-top: 0;
        margin-bottom: 0;
        font-weight: 500;
    }

    .time {
        position: absolute;
        right: 0;
        top: 0;
        color: $muted-text-color;
    }
    .company, .university {
        margin-bottom: 10px;
        color: $muted-text-color;
    }

    .project-title {
        font-size: 16px;
        font-weight: 400;
        margin-top: 0;
        margin-bottom: 5px;
        color: darken($primary-color, 15%);
    }
    .projects-section {
        .intro {
            margin-bottom: 30px;
        }
        .item {
            margin-bottom: 15px;
        }
    }

    .publication-title {
        font-size: 16px;
        font-weight: 400;
        color: $text-color;
        margin-bottom: 1px;
    }
    .publication-authors {
        font-style: italic;
        color: $muted-text-color;
        margin-bottom: 1px;
    }
    .publications-section {
        .intro {
            margin-bottom: 30px;
        }
        .item {
            margin-bottom: 15px;
        }
    }

    .skillset {
        .item {
            margin-bottom: 15px;
            overflow: hidden;
        }
        .level-title {
            font-size: 14px;
            margin-top: 0;
            margin-bottom: 12px;
        }
        .level-bar {
            height: 12px;
            background: #dcdcdc;
        }
        .level-bar-inner {
            height: 12px;
            background: lighten($primary-color, 5%);
        }
    }
}